<main>
    <section class="section__introduction">
       <div class="block-image"></div>
       <div class="block-author">
           <h2 class="block-author__heading block-author__heading_two">ПОСТПСИХОЛОГІЯ</h2>
           <h1 class="block-author__heading block-author__heading_one">АВТОДИДАКТИКА</h1>
                <div class="block-author__quotation">
                        <blockquote class="blockquote">
                <pre>
    Людина сьогодні має бути перебудована не лише у тому сенсі,
    що повинна менше витрачати електрики, чи обмежити у своїх
    автомобілях вихлопні гази чи використовувати інше паливо.
    Вона повинна передусім творити гарні вчинки, що мають бути
    пов'язані з глобальною культурою людства – як теперішньою,
    так і колишньою…
                </pre>
                            <img src="img/people/kourinsky.png" alt="Валерій Курінський" class="block-author__quotation-img">
                        </blockquote>
                        <cite class="block-author__quotation-info">Валерій Курінський</cite>
                        <p class="block-author__author-info">Львів, 1991.X.11</p>
                </div>
       </div>
    </section>

    <section class="section section_grey">
       <h3 class="section__header section__header_darkblue">Що таке ПостПсихологія?</h3>
       <p class="section__description section__description_grey">
           Коротко про те, чому вам буде цікава й корисна Атодидактика  і <br>
           ПостПсихологія Валерія Курінського
       </p>
       <div class="block-postpsy">
            <div class="block-postpsy__item block-postpsy__item_darkblue">
                <img src="img/icons/mind.svg" alt="human" class="block-postpsy__img">
                <span class="block-postpsy__header">ЛЮДИНА</span>
                <p class="block-postpsy__text">
                  ПостПсихологія поєднує наукові знання
                  з філософськими інсайтами, виробляючи
                  нове сучасне вчення про людину як істоту естетичну.
                </p>
            </div>
            <div class="block-postpsy__item block-postpsy__item_aquamarin">
                <img src="img/icons/physics.svg" alt="human" class="block-postpsy__img">
                <span class="block-postpsy__header block-postpsy__header_darkblue">Навчання</span>
                <p class="block-postpsy__text block-postpsy__text_darkblue">
                  Вчитися за Автодидактикою – це найцікавіше й
                  найпродуктивніше в світі заняття, незалежно від того,
                  що саме ви вивчаєте.
                </p>
            </div>
            <div class="block-postpsy__item block-postpsy__item_green">
                <img src="img/icons/paint-palette.svg" alt="human" class="block-postpsy__img">
                <span class="block-postpsy__header block-postpsy__header_darkblue">Творчість</span>
                <p class="block-postpsy__text block-postpsy__text_darkblue">
                  Творчими в Автодидактиці є не лише заняття музикою,
                  літературою чи мистецтвами. Творчим тут є все!
                </p>
            </div>
            <div class="block-postpsy__item block-postpsy__item_rose">
                <img src="img/icons/bricks.svg" alt="human" class="block-postpsy__img">
                <span class="block-postpsy__header">Навичка</span>
                <p class="block-postpsy__text">
                  Кожна людина може і має бути Майстром, адже
                  спостерігати за тим, як ростуть ваші навички,
                  – це справжнє щастя.
                </p>
            </div>
        </div>
    </section>

    <section class="section section_creamson">
        <h3 class="section__header section__header_darkblue">Відгуки про В. Курінського й «Автодидактику»</h3>
        <p class="section__description section__description_red">
            Учні й читачі книжок Валерія Олександровича Курінського діялться <br>
            враженнями та особистим досвідом застосування принципів <br>
            ПостПсихології у житті й освіті
        </p>
        <div class="block-reviews">
            <div class="block-reviews-item block-reviews__item_one">
                <div class="block-reviews__comment">
                    <img src="img/people/hrabovskyi.jpg" alt="Леонід Грабовський" class="block-reviews__comment-image">
                    <blockquote class="block-reviews__comment-blockquote">
                      Валерій Курінський – це видатний носій культури у Європі. Його роботи – це велика світова подія.
                    </blockquote>
                </div>
                <div class="block-reviews__person">
                  <span class="block-reviews__person-name">Леонід Грабовський</span>, композитор (Україна, США)
                </div>
            </div>
            <div class="block-reviews-item block-reviews__item_two">
                <div class="block-reviews__person">
                    <span class="block-reviews__person-name">Віталій Сундаков</span>, мандрівник, президент Академії виживання (РФ)
                </div>
                <div class="block-reviews__comment">
                    <img src="img/people/sundakov.jpg" alt="Віталій Сундаков" class="block-reviews__comment-image">
                    <blockquote class="block-reviews__comment-blockquote">
                      «Автодидактика» Валерія Курінського – найкраща у світі книжка із виживання, книжка, яку я мріяв написати сам.
                    </blockquote>
                </div>
            </div>
            <div class="block-reviews-item block-reviews__item_three">
                <div class="block-reviews__comment">
                    <img src="img/people/korchynskyi.jpg" alt="Дмитро Корчинський" class="block-reviews__comment-image">
                    <blockquote class="block-reviews__comment-blockquote">
                      Курінський називав свою справу постпсихологічні студії. Я завжди відчував захват і від його Dasein і від способу його БУТТЯ В ІНТЕЛЕКТІ.
                      Слухати його було насолодою, ще більшою, ніж читати. Він розсипав інтелектуальні фокуси, а тоді вражав інтелектуальними чудесами.
                      Хоч що б ти прагнув опанувати, хоч музику, хоч фехтування, твій успіх залежить від вартостей вчителя. Нас, своїх невдячних учнів, Курінський навчив найціннішому –
                      вчитися. Вчитися в найефективніший спосіб. Страх навчання – пандемія сьогодення.
                    <div class="block-reviews__person">
                        <span class="block-reviews__person-name">Дмитро Корчинський</span>, політик, громадський діяч, інтелектуал (Україна)
                    </div>
                    </blockquote>
                </div>
            </div>
            <div class="block-reviews-item block-reviews__item_two block-reviews__item_four">
                <div class="block-reviews__person">
                    <span class="block-reviews__person-name">Володимир Буданов</span>, філософ (Інститут філософії, Москва, РФ)
                </div>
                <div class="block-reviews__comment">
                    <img src="img/people/budanov.jpg" alt="Володимир Буданов" class="block-reviews__comment-image">
                    <blockquote class="block-reviews__comment-blockquote">
                      Курінський знає більше, ніж весь наш інститут філософії…
                    </blockquote>
                </div>
            </div>
            <div class="block-reviews-item block-reviews__item_three block-reviews__item_five">
                <div class="block-reviews__comment">
                    <img src="img/people/besarab.jpg" alt="Юрій Бесараб" class="block-reviews__comment-image">
                    <blockquote class="block-reviews__comment-blockquote">
                      Ліпшої методики вивчення іноземних мов – та й будь-чого – взагалі не існує! Крім усього іншого, це ще й філософія, яка нарешті показує людині її місце і роль у цьому всесвіті. За її допомогою ти можеш знайти своє покликання, а це найголовніша, стартова точка для того, щоб жити щасливо.
                    <div class="block-reviews__person">
                        <span class="block-reviews__person-name">Юрій Бесараб</span>, художник, музикант, перекладач (Україна)
                    </div>
                    </blockquote>
                </div>
            </div>
        </div>
    </section>

    <section class="section section_white">
        <h3 class="section__header">Книжки</h3>
        <p class="section__description">Перевірені часом видання та свіжі новинки</p>
        <div class="books">
            <a href="#" class="block  block_first">
                <img class="block__img " src="img/books/book1.png" alt="book">
                <img class="block__img_hover" src="img/books/hoverEffect.png" alt="">
                <div class="example">
                    <div class="new">НОВИНКА!</div>
                    <div class="book_title">Autodidactics in English</div>
                </div>
            </a>
            <a href="#" class="block block_second">
                <img class="block__img" src="img/books/book2.png" alt="book">
                <div class="example">
                    <div class="book_title">Українська ПостПсихологічна Автодидактика</div>
                </div>
            </a>
            <a href="#" class="block block_third">
                <img class="block__img" src="img/books/book3.png" alt="book">
                <div class="example">
                    <div class="book_title">ПостПсихологическая Автодидактика, Ч.1</div>
                </div>
            </a>
            <a href="#" class="block block_forth">
                <img class="block__img" src="img/books/book4.png" alt="book">
                <div class="example">
                    <div class="book_title">Самоосвітні роздуми</div>
                </div>
            </a>
            <a href="#" class="block block_fifth">
                <img class="block__img" src="img/books/book5.png" alt="book">
                <div class="example">
                    <div class="book_title">«Прямую в близьку далечінь»</div>
                </div>
            </a>
            <a href="#" class="block block_sixth">
                <img class="block__img" src="img/books/book6.png" alt="book">
                <div class="example">
                    <div class="book_title">Аэробика во рту</div>
                </div>
            </a>
        </div>
        <button class="btn btn_blue">Більше книжок</button>
    </section>

    <section class="section section_blue">
        <h3 class="section__header">Відеозаписи</h3>
        <p class="section__description">
          Швидке занурення у ПостПсихологію через уривки
          з вибраних лекцій Валерія Курінського
        </p>
        <div class="video wide">
        <div class="box">
            <iframe class="box__frame" src="https://www.youtube.com/embed/0IN8EMtUD-c" allowfullscreen></iframe>
            <div class="control">
                <div class="control__btn"></div>
                    <p class="control__text">Українська автодидактика, лекція 1</p>
                </div>
        </div>
            <div class="box">
                <iframe class="box__frame" src="https://www.youtube.com/embed/padf-Ktm_AY" allowfullscreen></iframe>
                <div class="control">
                    <div class="control__btn"></div>
                        <p class="control__text">
                            Філософія здоров’я (уривки)
                        </p>
                    </div>
            </div>
            <div class="box">
                <iframe class="box__frame" src="https://www.youtube.com/embed/dSaz1jhe-Xc" allowfullscreen></iframe>
                <div class="control">
                    <div class="control__btn"></div>
                    <p class="control__text">12 хвилин виступів різних років</p>
                </div>
            </div>
        </div>
        <button class="btn btn_red">Більше відео</button>
    </section>
</main>
<footer>
    <div class="contacts">
        <span class="contacts__text">
            ПостПсихологічна Лабораторія. Автодидактика. В. О. Курінський &copy; 2017
        </span>
        <span class="contacts__text">Тел. +38 050 683 04 49 (Леся Шаповал)</span>
        <a href="#">
            <img class="contacts__img" src="img/icons/facebook.svg" alt="fb_icon">
        </a>
    </div>
    <div class="webteam">
        <a class="webteam__link" href="#">
            <span class="webteam__text">powered by</span>
          wehackingyou.com
       </a>
    </div>
    <a href="#" class="go-top">Вгору</a>
</footer>
</body>
</html>
