.wrapper  {
	width: 60vw;
}

.nav {

	&__list {
		width: 64vw;
	}
}

.section__introduction {
	width: 80vw;
}

.block-image {
    width: 28vw;
	background-size: 400px;
	background-position: center 10%;
}

.block-author {
	width: 43vw;
}

.block-postpsy {
	width: 85vw;
	height: 360px;

	&__item {
		height: 270px;

		&:hover {
			height: 300px;
		}
	}
}

.box {
	width: 20vw;
}

/* ____ Store Page _____ */

.filter-form,
.feed__rubric {
	width: 60vw;
}

/* _____ Gallery ______ */

.gallery {
	grid-template-columns: repeat(6, 1fr)
}
