

// SECTION INTRODUCTION

	.block-postpsy {
		width: 99vw;
	}

    .section__introduction {
        width: 100%;
    }

    .block-image {
        width: 34vw;
    }

    .block-author {
        width: 55vw;
    }
