header {
    justify-content: center;
}

.nav {
    width: 100%;
    padding-right: 0;
    justify-content: center;

    &__list {
        justify-content: space-around;
        width: 100%;
        margin-right: 0;

        &-item {
            height: 0;
            margin: 1px;
            padding: 5px 0 20px;
            border-bottom: 5px solid transparent;
            border-radius: 2px;
            transition: border-bottom .5s ease-out;

            &_tablet {
                position: relative;
                display: flex;
                height: 0;
                margin: 1px;
                transition: border-bottom .5s ease-out;
                border-bottom: 5px solid transparent;
                border-radius: 2px;
                background: transparent;

                    &:hover {
                        border-bottom: 5px solid $rose-header;
                    }

                .nav__list-ancor_diffcolor {
                    background-color: transparent;
                    padding: 0;
                    position: relative;
                    color: #5d5e68;
                    text-decoration: none;
                    transition: width .9s,right .9s ease;
                    font-size: 18px;
                }
            }

            &:hover {
               border-bottom: 5px solid $rose-header;
            }

            &:before,
            &:after {
                display: none;
            }

            .nav__dropdown {
                top: 10px;
            }
        }
    }
}

.fixed {
    .nav__list-item_tablet,
    .nav__list-item {
        height: auto;
        margin-bottom: 10px;
        padding: 20px 0 5px;
        -ms-transition: none;
            transition: none;
    }

    .nav__list-ancor_diffcolor {
        color: $white;
    }

    .nav__list-item:hover .nav__dropdown {
        top: 38px;
    }
}

.section__introduction {
    width: 100%;
    padding-right: 10px;
}

.block-postpsy {

    &__item {
    }

    &__text {
        line-height: 25px;
    }
}

.block-author {
    width: 60vw;

    &__heading_two::after {
        top: 55%;
    }
}

/*______ Store _____ */

.store__heading {
    display: block;
    margin: 60px auto 20px;
    color: $dark-aquamarin-transparent;
    font-family: $ledger;
    font-size: 25px;
    text-align: center;
    text-transform: uppercase;
}

.filter-form {
    width: 90vw;
    margin: 0 auto;

    &__container {
        display: block;
        height: auto;
    }

    &__label {
        width: 100%;
    }
}

.feed {
    width: 95vw;
    margin: 0 auto;

    &__rubric {
        margin: 20px auto;
        padding: 10px;
        width: 95vw;
    }

    &__item {
        display: block;
        max-height: 2000px;
        font-size: 14px;
    }

    &__item-heading {
        position: static;
        font-size: 16px;
        line-height: 25px;
    }

    &__frame {
        display: block;
        width: 100%;
        max-width: 500px;
        margin: 20px auto;

        &_auto-width {
            width: 100%;
        }
    }

    &__annotation {
        width: 100%;
        margin-top: 20px;
        margin-left: 0;
        text-align: left;
        font-size: inherit;

        &_wide {
            width: 100%;
        }
    }

    &__column {
        flex-basis: 100%;
    }

    &__book-cover {
        display: block;
    }
}

.main,
.main__heading,
.article,
.article__heading,
.breadcrumbs {
    width: 90vw;
}
