//HEADER END

header {
    @include justify-content-center;
}

.nav {
    width: 100%;
    margin-top: 30px;
    padding-right: 0;
    @include justify-content-center;

    &__list {
        justify-content: space-around;
        width: 100%;
        margin-right: 0;

        &-item {
            height: 0;
            margin: 1px;
            padding: 5px 0 20px;
            border-bottom: 5px solid transparent;
            border-radius: 2px;
            transition: border-bottom .5s ease-out;

            &_active {
                border-bottom: 5px solid $rose-header;
            }

            &_green {
                padding: 5px 0 20px;
            }

            &_tablet {
                height: 0;
                margin: 1px;
                padding: 5px 0 20px;
                border-bottom: 5px solid transparent;
                border-radius: 2px;
                transition: border-bottom .5s ease-out;
                background: transparent;

                    &:hover {
                        border-bottom: 5px solid $rose-header;
                    }

                .nav__list-ancor_diffcolor {
                    background-color: transparent;
                    padding: 0;
                    position: relative;
                    color: #5d5e68;
                    text-decoration: none;
                    transition: width .9s, right .9s ease;
                    font-size: 18px;
                }
            }

            &:hover {
               border-bottom: 5px solid $rose-header;
            }

            &:before,
            &:after {
                display: none;
            }

            .nav__dropdown {
                top: 10px;
            }
        }
    }
}

.fixed {
    margin-top: 0;

    .nav__list-item_tablet,
    .nav__list-item {
        height: auto;
        margin-bottom: 10px;
        padding: 20px 0 5px;
        -ms-transition: none;
        transition: none;
    }

    .nav__list-ancor_diffcolor {
        color: $white;
    }

    .nav__list-item:hover .nav__dropdown {
        top: 38px;
    }
}

.header_fixed + main {
    margin-top: 63px;
}


.section__introduction {
    width: 100%;
}

.block-image {
    width: 30vw;
    background-image: url('../img/tree.svg');
    background-position: 50% 120px;
    background-size: 35vw;
}

.block-author {

    &__heading {
        &_two {
            position: relative;
            left: -30%;
            font-size: 30px;

            &::after {
                top: 45px;
                left: 148px;
            }
        }

        &_one {
            position: relative;
            left: -30%;
            font-size: 40px;
        }
    }

    &__quotation {
        border: 0;
    }

    .blockquote {
        margin-left: 0;
    }
}

.block-postpsy {
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    @include justify-content-center;
    width: 100vw;
    height: auto;
    margin-top: 20px;
    padding: 20px 0;

    &__item {
        @include justify-content-initial;
        width: 47vw;
        height: 43vw;
        margin-top: 0;
        padding: 35px 25px 40px;

        .block-postpsy__header {
            margin-top: 20px;
        }

        &:hover   {
            height: 43vw;
            margin-top: 0;

            .block-postpsy__header {
                margin-top: 20px;
            }
        }
    }

    &__text {
        @include flex;
    }
}

.block-reviews {
    width: 100vw;
    margin: 0;
}

.block-reviews__comment {
    width: 44vw;
}

.block-reviews__item_two .block-reviews__person {
    width: 50vw;
}

.block-reviews__item_two .block-reviews__comment {
    width: 45vw;
}

.section__header {
    text-align: center;
    font-size: 25px;
}

.section__description_red {
    width: 80vw;
}

/* _____ Store ______ */

.feed__item {
    font-size: 16px;
    line-height: 30px;
}

.feed__item-heading {
    font-size: 22px;
}

/* ____ Gallery ____ */

.gallery__item_portrait {
    grid-column-end: span 2;
    grid-row-end: span 2;
}

/* _____ Books _____ */

.block {
    /*flex-basis: 100%;*/
    padding: 20px 20px;
    margin: 0 0 120px;
}

.block__img {
    width: 25vw;
    /*height: 40vh;*/
    margin: 0 auto;
}

.block__img_hover {
    display: none;
}

.example {
    opacity: 1;
    top: 105%;
    left: 0;
}

.books {
    margin: 30px auto 0;
}

.wrapper-wide {
    width: 90%;
} 

.btn_blue {
    padding: 15px 60px 15px 40px;
    background-position: 225px;
    background-size: 10%;
}

/* _____ Video _____ */

.feed__book-cover {
    margin: 10px auto
}

.video {
    flex-direction: column;
    align-items: center;
    padding: 36px 0 15px;
}

.section__description {
    font-size: 16px;
}

.box {
    width: 60vw;
}

.box__frame {
    width: 60vw;
    height: 40vw;
}


.control {
    margin-top: 15px;
}

.control__btn {
    min-width: 40px;
    height: 40px;
    background-size: 69%;
}

.control__text {
    padding: 5px;
    font-size: 16px;
}

.control__text {
    padding: 5px;
    margin: 0 0 55px 5px;
}

.btn {
    font-size: 21px;
}

.btn_red {
    padding: 14px 58px 15px 43px;
    background-position: 200px;
    background-size: 10%;
}

/* _____ Footer _____ */

.contacts {
    flex-direction: column;
    text-align: center;
    padding: 15px 5px;
}

.contacts__mobile {
    display: flex;
    flex-direction: column;
    line-height: 24px;
} 