.section__header {
    font-size: 25px;
}

.block-postpsy {
    -ms-flex-flow: row wrap;
        flex-flow: row wrap;
    @include justify-content-center;
    height: auto;
    margin-top: 20px;
    padding: 20px 0;

    &__item {
        @include justify-content-initial;
        width: 40vw;
        height: 38vw;
        margin-top: 0;
        padding: 50px 25px;
        cursor: default;

        .block-postpsy {
            pointer-events: none;

            &__header {
                margin-top: 20px;
            }
            &__img {
                width: 20%;
            }
        }

        &:hover {
            height: 38vw;
            margin-top: 0;

            .block-postpsy__header {
                margin-top: 20px;
            }
        }
    }

    &__text {
        @include flex;
        line-height: 25px;
    }
}

/* _____ BOOKS _____ */

/*.example {
    left: 0;
    opacity: 1;
    bottom: -60px;
}*/

/*.block {
    margin: 50px 15px;
    padding: 15px 25px;
}

.books {
    margin: 10px auto 50px;
}*/

.block__img {
    width: 17vw;
    height: 100%;
}

/* _____ Footer _____ */

.contacts {
    flex-direction: column;
    text-align: center;
    padding: 15px 5px;
}

.contacts__mobile {
    display: flex;
    flex-direction: column;
    line-height: 24px;
} 