/*******HEADER*******/

.wrapper {
    width: $wrapper;
    max-width: 1500px;
}

.wrapper-wide {
    width: $wrapper-wide;
    max-width: 1500px;
}

.bold {
    color: $dark-grey;
}

.disabled {
    pointer-events: none;
}

header {
    /* @include flex; */
    // @include justify-content-flex-end;
    z-index: 10;
}

.nav {
    @include flex;
    @include flexdirection-row;
    @include flex-wrap;
    @include justify-content-flex-end;
    width: 100%;
    margin-top: 10px;
    padding-right: 20px;

    &__helper {
        display: none;
    }

        &__list {
            @include flex;
            @include flexdirection-row;
            @include flex-wrap;
            width: 73vw;
            max-width: 1500px;
            margin-right: 15px;
            list-style: none;
            cursor: pointer;

            &-ancor {
                @include flex;
                position: relative;
                color: $dark-grey;
                @include align-items-center;
                text-decoration: none;
                transition: width .9s, right .9s ease;
                @include justify-content-center;
                font-size: 18px;
                cursor: pointer;
            } //ancor main menu

        &-item {
            @include flex;
            @include justify-content-space-around;
            list-style: none;
            cursor: pointer;
            z-index: 10;
            padding: 0 5px;
            margin: 0 20px;
            height: 116px;
            border-radius: 50%;
            position: relative;
            transition: width .9s,right .9s ease;

            &::before {
                @include nav__list-itembefore;
                opacity: 0;
                transform: scale(0);
            } // main menu item before

            &::after {
                @include nav__list-itemafter;
                // content: "";
                top: -10px;
                opacity: 0;
                transform: scale(0);
                // transition: transform .5s, opacity .5s ease-out;
            } // main menu item after

            .nav__dropdown {
                @include flex;
                position: absolute;
                top: 96px;
                left: 50%;
                margin-left: -100px;
                @include flexdirection-column;
                padding-top: 20px;
                border-radius: 4px;
                opacity: 0;
                transition: opacity .3s ease .3s;

                &-item {
                    display: none;
                }
            }

            &:hover {
                &::before {
                    transform: scale(1);
                    opacity: 1;
                } // main menu item before

                &::after {
                    transform: scale(1);
                    opacity: 1;
                    transform-origin: 50% 50%;
                } // main menu item after

                .nav__dropdown {
                    @include flex;
                    opacity: 1;

                    &-item {
                        @include flex;
                        @include justify-content-center;
                        align-content: center;
                        width: 200px;
                        // padding: 16px 0 5px;
                        padding: 3px;
                        line-height: 1.1em;
                        background: $dark-aquamarin-transparent;
                        border-right: 2px solid $simple-grey;
                        border-left: 2px solid $simple-grey;
                        cursor: pointer;
                    }

                    &-ancor {
                        // padding: 3px;
                        width: 100%;
                        margin: 0 4px;
                        padding: 16px 0 5px;
                        border-bottom: 1px solid transparent;
                        color: $white;
                        font-size: 12px;
                        font-weight: bold;
                        text-align: center;
                        text-transform: uppercase;

                        &:hover {
                        color: $white;
                        border-bottom: 1px solid $rose-header;
                        }
                    } // dropdown ancor end
                }//dropdown end
            } //hover for dropdown end
        } // nav item (li) end
    } // nav list (ul) end
} //nav end

// --MENU BUTTON
.nav__list-item_green {
    @include flex;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    @include justify-content-center;
    margin-left: 35px;
    font-size: 16px;
    letter-spacing: 1.2px;
    text-transform: capitalize;
    cursor: pointer;
}

.nav__list-ancor_white {
    color: $white;
}

.nav__list-ancor_diffcolor {
    padding: 15px 25px;
    border-radius: 6px;
    background-color: $green-transparent;
    transition: background-color .5s;

    &:hover {
        background-color: $green-mint;
    }
}
// --MENU BUTTON end

// active menu item
.nav__list-item_active {
    &::before {
        @include nav__list-itembefore;
        opacity: 1;
        transform: scale(1);
    } // main menu item before

    &::after {
        @include nav__list-itemafter;
        opacity: 1;
        transform: scale(1);
    } // main menu item after
}

.nav__list:hover .nav__list-item_active::before,
.nav__list:hover .nav__list-item_active::after {
    opacity: 0;
    transform: scale(0);
}

.nav__list:hover .nav__list-item_active:hover::before,
.nav__list:hover .nav__list-item_active:hover::after {
    opacity: 1;
    transform: scale(1);
}

// MENU end
//  test fixed menu
.fixed {
    position: fixed;
    top: 0;
    margin-top: 0;
    background: $dark-grey;
    opacity: .9;
    z-index: 150;

    .nav__list-ancor {
        top: 0;
        bottom: -9px;
        color: $white;
    }

    .nav__list-item {
        height: auto;
        padding: 20px 0;

        &::before {
            opacity: 0;
        } // main menu item after

        &::after {
            @include nav__list-itemafter;
            transform: scale(0);
            top: 45px;
        } // main menu item after

        &:hover {
            &::after {
                transform: scale(1);
            }

            &::before {
                transform: scale(0);
            }
        } // hover
    }


    .nav__list-item:hover .nav__dropdown {
        top: 38px;
    }


    .nav__list-item_active {
        &::before {
            // @include nav__list-itembefore;
            opacity: 0;
            transform: scale(0);
        } // main menu item before

        &::after {
            @include nav__list-itemafter;
            opacity: 1;
            transform: scale(1);
        } // main menu item after
    }

    .nav__list:hover .nav__list-item_active::before,
    .nav__list:hover .nav__list-item_active::after {
        opacity: 0;
        transform: scale(0);
    }

    // .nav__list:hover .nav__list-item_active:hover::before,
    .nav__list:hover .nav__list-item_active:hover::after {
        opacity: 1;
        transform: scale(1);
    }
}


// Manage jupm-up of main content on fixed nav

.header_fixed + main {
        margin-top: 127px;
}


/*******SECTION INTRODUCTION******/

.section__introduction {
    @include flex;
    padding: 50px 0 10px;
    margin: 0 auto;
}

.intro_heading {
    color: $dark-blue;

}

// --- image tree section
.block-image {
    @include flex;
    @include flexdirection-column;
    width: 30vw;
    margin: 20px 20px 0;
    background-image: url('../img/tree-anim.svg');
    // background-size: cover;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 50% 14%;
}

// --- image tree section end

// --- author section
.block-author {
    @include flex;
    @include flexdirection-column;
    width: 56vw;

    &.bg-img {
        display: none;
    }

    &__heading {
        @include flexdirection-column;
        color: $dark-blue;
        font-family: $ledger;
        font-weight: bold;
        text-transform: uppercase;

        &_one {
            font-size: 55px;
        }

        &_two {
            position: relative;
            padding-bottom: 50px;
            font-size: 45px;

            &::after {
                @include flex;
                position: absolute;
                top: 62%;
                left: 200px;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                background: $pink;
                content: '';
            }
        }
    }

    .blockquote {
        @include flex;
        color: $dark-grey;
        font-family: $roboto-condensed;
        font-size: 18px;
        line-height: 26px;
        margin-left: 25px;
    }
}

// --- author section end
.block-author__quotation {
    @include flex;
    @include flexdirection-column;
    margin: 20px 0;
    border: 17px solid transparent;
    border-style: solid;
    border-left-color: $light-grey-transparent;

        &-img {
            width: 110px;
            height: 110px;
            margin-left: 20px;
        }

        &-img-mob {
            display: none;
        }


    .block-author__author-info {
        @include flex;
        @include justify-content-flex-end;
        color: $grey;
        font-size: 18px;
        font-weight: bold;
        font-style: italic;
        font-family: $ledger;
    }
}

.block-author__quotation-info {
    @include flex;
    @include justify-content-flex-end;
    color: $grey;
    font-size: 25px;
    font-style: italic;
    font-weight: bold;
    font-family: $ledger;
    line-height: 60px;
}

/*******SECTION INTRODUCTION end******/

/*******SECTION PSYCHOLOGY******/

.block-postpsy {
    @include flex;
    /* align-items: flex-end; */
    @include align-items-flex-end;
    // width: $wrapper;
    width: 80vw;
    height: 320px;
    overflow: hidden;


    &__item {
        @include flex;
        @include flexdirection-column;
        @include justify-content-center;
        @include align-items-center;
        width: 25vw;
        height: 220px;
        margin-top: 80px;
        padding: 25px;
        cursor: pointer;
        transition: .5s;

        &:hover {
            height: 300px;

            .block-postpsy__text {
                    @include flex;
                }

            .block-postpsy__header {
                margin-top: 15px;
            }
        }

        &_darkblue {
            background: $dark-blue;
        }

        &_aquamarin {
            background: $aquamarin;
        }

        &_green {
            background: $green;
        }

        &_rose {
            background: $pink;
        }
    }

    &__img {
        width: 22%;
    }

    &__header {
        margin: 30px 0 15px;
        color: $white;
        font-family: $roboto;
        font-size: 20px;
        line-height: 18px;
        text-transform: uppercase;

        &_darkblue {
            color: $heavy-blue;
        }
    }

    &__text {
        display: none;
        color: $white;
        font-size: 16px;
        line-height: 22px;
        text-align: center;

        &_darkblue {
            color: $heavy-blue;
        }
    }
}

/*******SECTION REVIEW*******/
.section__description_red {
    width: 46vw;
}

.section__description_red-mobile {
    display: none;
}

.block-reviews {
    @include flex;
    @include flexdirection-column;
    width: $wrapper;
    margin: 50px 0;

    &-item {
        @include flex;
        margin: 15px;
        /* justify-content: space-between; */
        @include justify-content-space-between;
    }
}

.block-reviews__comment {
    @include flex;
    position: relative;
    width: 32vw;

    &-image {
        @include flex;
        position: absolute;
        top: 17px;
        left: -70px;
        width: 100px;
        height: 100px;
        margin: 0 20px;
        border-radius: 50%;
    }

    &-blockquote {
        @include flex;
        position: relative;
        @include align-items-center;
        min-width: 300px;
        padding: 25px 0 38px 65px;
        border-bottom: 3.5px solid $light-pink;
        color: $navy-blue;
        font-family: $roboto;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;

        &::before {
            position: absolute;
            bottom: -21px;
            left: -26px;
            width: 44px;
            height: 44px;
            border-radius: 50%;
            background-color: $light-pink;
            background-repeat: no-repeat;
            background-position: 50%;
            background-size: 32px;
            content: ' ';
        }
    }
}

.block-reviews__person {
    // display: flex; // подумать, чтобы фамилия и имя были на одном рядке
    @include align-items-center;
    color: $navy-blue;
    font-family: $roboto-condensed;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    padding-top: 52px; // временное решение - подумать, чтобы не фамилия и имя были на одном рядке

    &-name {
        font-weight: 700;
    }
}

.block-reviews__item_one {

    .block-reviews__person {
        max-width: 500px;
        padding-left: 20px;
    }

    .block-reviews__comment {
        max-width: 500px;
        width: 335px;
        margin-left: 50px;

        &-blockquote {
            padding-top: 45px;

            &::before {
                background-image: url('../img/icons/violin.png');
            }
        }
    }
}

.block-reviews__item_two {

    .block-reviews__comment {
        margin-left: 50px;
        max-width: 500px;
        width: 30vw;

        &-blockquote {
            padding-top: 42px;

            &::before {
                background-image: url('../img/icons/leaf.png');
            }
        }
    }
    .block-reviews__person {
        max-width: 400px;
    }
}

.block-reviews__item_three {
    @include flexdirection-column;

    .block-reviews__comment {
        // width: 100%;
        width: auto;
        margin-left: 50px;

        &-blockquote {
            @include flexdirection-column;
            align-items: flex-start;
            padding-bottom: 17px;

            &::before {
                background-image: url('../img/icons/invention.png');
            }
        }
    }

    .block-reviews__person {
        padding-top: 20px;
    }
}

.block-reviews__item_four {

    .block-reviews__comment {

        &-image {
                    top: 3px;
                }

        &-blockquote {
            padding-bottom: 41px;
            padding-top: 49px;

            &::before {
                background-image: url('../img/icons/open-book.png');
            }
        }
    }
}

.block-reviews__item_five {
    .block-reviews__comment {

        &-blockquote {

            &::before {
                background-image: url('../img/icons/translation.png');
            }
        }
    }
}

.block-reviews__item_three-mobile {
    display: none;
}

/*******SECTION BOOKS*******/

.books {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 50px auto;
}

.section__header_darkred,
.section__description_darkred {
    color: $dark-red;
}

.block {
    display: inline-block;
    position: relative;
    /*width: 18vw;*/
    margin: 12px;
    padding: 15px 43px;
    border: 1px solid $medium-grey;
    border-radius: 5px;

    &:hover {
        z-index: 100;
    }

  &__img {
      width: 11vw;
        position: relative;
  }
}

 .block__img_hover {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 97%;
  opacity: 0;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  z-index: 20;
  -webkit-filter: sepia(1);
  filter: sepia(1);
  transition: opacity .3s ease-in;
 }

 .example {
  position: absolute;
  bottom: 15px;
  left: 30px;
  opacity: 0;
  color: $heavy-blue;
  line-height: 1.2em;
  z-index: 25;
  transition: opacity .3s ease-in;
  }

  .new {
      margin-bottom: 4px;
      color: $carrot;
  }

.block:hover {

    .example {
        opacity: 1;
    }

    .block__img_hover {
        opacity: .9;
    }
}

/* _____ Video _____ */

.section {

  &_blue {
      background-color: #a8c2e9;
    }
}

.video {
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
}

.btn  {
    border: 0;
    border-radius: 9px 10px 10px;
    background-image: url('../img/icons/arrows-circle.png');
    background-repeat: no-repeat;
    color: $white;
    font-size: 25px;
    outline: 0;
    transition-duration: .5s;
    text-transform: uppercase;
    cursor: pointer;

    &_blue {
        padding: 20px 106px 20px 97px;
        background-color: #65adda;
        background-position: 340px;
        background-size: 7%;

        &:hover {
          background-color: $navy-blue;
        }
    }

    &_red {
        padding: 20px 124px 20px 114px;
        background-color: #da7865;
        background-position: 340px;
        background-size: 7%;

        &:hover {
            background-color: $dark-red;
        }
    }
}

.box {
    width: 20vw;

    &__frame {
        width: 20vw;
        height: 15vw;
    }
}

.control {
    display: flex;
    margin-top: 5px;

    &__btn {
        min-width: 46px;
        height: 46px;
        background-color: #e37b97;
        background-image: url(../img/icons/play-button.svg);
        background-repeat: no-repeat;
        background-position-x: 6px;
        background-position-y: 6px;
        border-radius: 50%;
        background-size: 74%;
        cursor: pointer;
    }

    &__text {
        padding: 17px;
        color: $red-label;
        font-size: 18px;
    }
}

.contacts {
    display: flex;
    justify-content: center;
    padding: 5px 5px;
    background-color: #d3d5dd;
    color: #707177;
    font-family: $roboto;


    &__text {
        display: block;
        padding: 15px;
        color: #707177;
    }

    &__img {
        margin-top: 5px;
        width: 35px;

        &:hover {
            background-image: url('../img/icons/fbhover.png');
            background-size: cover;
        }
    }
}

.webteam {
    padding: 20px 20px;
    font-family: $roboto;
    background-color: #474956;
    text-align: center;
    margin-bottom: 10px;


    &__link {
        color: #f45b17;
    }

    &__text {
        color: #c5c7cf;
    }
}

/* ТО ЧТО БЫЛО ПОД ИМПОРТАМИ В ГЛАВНОМ ФАЙЛЕ */

* {
    box-sizing: border-box;
}

// body {

// }

a {
    color: $white;
    font-family: $roboto;
    text-decoration: none;
}

.section {
    display: flex;
    flex-direction: column;
    padding: 30px 20px 50px;
    align-items: center;
    max-width: 100%;
    font-family: $roboto;


    &__header {
        font-size: 32px;
        font-weight: 400;
        margin: 20px 0;


        &_darkblue {
            color: $dark-blue;
        }
    }

    &__description {
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: 20px;
        line-height: 30px;

        &_red {
            color: $dark-red;
        }

        &_grey {
            color: $grey;
        }
    }

    &_grey {
        background: $light-grey;
    }

    &_creamson {
        background: $creamson;
    }

}

// test top button
.go-top {
    display: none;
    position: fixed;
    bottom: 2em;
    right: 2em;
    padding: 2em 1em;
    color: white;
    background-color: $grey;
    border-radius: 50%;
    font-size: 12px;
    letter-spacing: 1px;
    text-decoration: none;
}

.go-top:hover {
    background-color: $dark-grey;
}

/* _____ Крамниця (Store Page) ____ */

.store__heading {
    display: none;
}

.filter-form,
.feed {
    font-family: $roboto;
}

/* ______ rubric filters _____ */

.filter-form {
    margin: 0 auto 10px;
    padding-top: 20px;
    width: 70vw;

    &__container {
        @include flex;
        @include flexdirection-column;
        @include flex-wrap;
        justify-content: flex-start;
        height: 90px;
    }

    &__heading {
        margin-top: 0;
        color: $dark-blue;
        font-size: 20px;
        line-height: 40px;
    }

    &__checkbox {
        position: relative;
        top: 20px;
        opacity: 0;

        &:checked + .filter-form__label::before {
            background-color: $pink-transparent;
        }
    }

    &__label {
        position: relative;
        display: inline-block;
        margin-left: 30px;
        color: $light-blue;
        font-weight: bold;
        line-height: 20px;
        letter-spacing: 2px;
        cursor: pointer;

        &::before {
            display: block;
            position: absolute;
            left: -30px;
            width: 20px;
            height: 20px;
            border: 1px solid $light-blue;
            content: '';
        }
    }
}

/* _______ store items _____ */

.feed {
    @include flex;
    @include flexdirection-column;
    @include align-items-center;
    margin-bottom: 30px;
    color: $dark-blue;
    line-height: 30px;

    &__rubric {
        @include flex;
        @include flex-wrap;
        @include justify-content-space-between;
        margin: 40px 0 12px;
        width: 70vw;

        &-heading {
            padding-bottom: 10px;
            width: 100%;
            border-bottom: 2px solid $rose-header;
            @include rubric-heading;
        }
    }

    &__column {
        flex-basis: 45%;
        padding-bottom: 50px;
        // border-bottom: 1px solid $pink-transparent;
    }

    &__item {
        @include flex;
        @include flexdirection-column;
        @include flex-wrap;
        @include align-content-space-between;
        max-height: 430px;

        &_column {
            max-height: inherit;
        }

        &_stand-along {
            margin-top: 15px;
        }

        &-heading {
            margin: 10px 0 20px 40px;
            color: $dark-red;
            font-size: 25px;
            font-weight: lighter;

            &::before {
                display: block;
                position: relative;
                top: 30px;
                left: -40px;
                content: '';
                width: 30px;
                height: 30px;
                border-radius: 50%;
                background: $pink-transparent no-repeat center;
                @include icon-on-pink-background;
                content: '';
            }

            &_audio::before {
                @include feed__item-heading('headphones.svg', 60);
            }

            &_video::before {
                @include feed__item-heading('play-button.svg', 80);
            }

            &_book::before {
                @include feed__item-heading('open-book.svg', 70);
            }

            &_internet::before {
                @include feed__item-heading('wifi.svg', 70);
            }
        }
    } /* end of .feed__item */

    &__audio {
        margin: 20px 0;
    }

    &__audio-cover,
    &__frame,
    &__book-cover {
        margin: 10px 10px 20px 0;
    }

    &__audio-cover {
        width: 290px;
    }

    &__frame {
        width: 45%;
        height: 230px;

        &_standard-size {
            width: 560px;
            height: 315px;
            margin: 10px 0 30px;
        }
    }

    &__book-cover {
        width: 200px;

        &_right {
            display: inline-block;
            margin: 30px 0 20px 20px;
            float: right;
        }
    }

    &__annotation {
        margin: 0 0 20px 20px;
        width: 50%;
        font-size: 14px;
        text-align: right;

        &_wide {
            width: 68%;
        }

        &_full-width {
            width: 100%;
            margin-left: 0;
            text-align: inherit;
        }

        &_middle-size {
            font-size: 16px;
        }

        &-title {
            font-family: $ledger;
            text-transform: uppercase;
        }
    }

    &__button {
        align-self: flex-end;
        display: inline-block;
        @include order-button;

        &_left {
            align-self: flex-start;
        }

        &_right {
            float: right;
        }
    }

    &__link {
        color: $light-blue;
        font-weight: bold;
        transition: color .2s;

        &:hover {
            color: $pink;
        }
    }
} /* end of .feed */

/* _______ Знайомство -> Відеолекції ______ */

/* for all pages */
.main {
    margin: 0 auto;
    width: $wrapper;
    font-family: $roboto;
    color: $dark-blue;

    &__heading {
        margin: 0 auto;
        padding-bottom: 10px;
        border-bottom: 2px solid $carrot;
        color: $carrot;
        font-family: $ledger;
        font-size: 25px;
        text-transform: uppercase;
    }
}

/* only for video page with grid */
.videos {
    position: relative;
    @include flex;
    flex-flow: row wrap;
    @include justify-content-space-between;
    padding-top: 60px;

    /* page heading */
    &__heading {
        width: $wrapper;
        margin: 0 auto;
    }

    /* individual video heading */
    &__title {
        margin-bottom: 30px;
        color: $dark-red;
        font-size: 22px;
        font-weight: normal;
        line-height: 28px;
    }

    &__grid-item {
        position: relative;
        @include flex;
        @include flex-wrap;
        @include flexdirection-column;
        @include justify-content-space-between;
        margin-top: 30px;
        margin-right: 30px;
        padding-bottom: 100px;
        flex: 30% 1 1;
        border-bottom: 1px solid $pink-transparent;
    }

    &__frame {
        max-width: 350px;
        min-height: 250px;
    }

    &__details {
        display: block;
        position: absolute;
        bottom: 15px;
        margin: 15px 0 25px;
        padding: 0 40px 15px;
        border: 1px solid $navy-blue;
        border-radius: 5px;
        background-color: $white;
        color: $navy-blue;
        text-transform: uppercase;
        transition: background-color .1s, border .1s, color .1s;

        &::after {
            display: inline-block;
            position: relative;
            top: 8px;
            left: 15px;
            content: '\2026';
            font-size: 35px;
            transform: rotate(90deg);
        }
    }
}

/* override flexbox layout if browser supports grid */
@supports (display: grid) {
    .videos {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-gap: 40px;

        &__heading {
            position: static;
            grid-column: 1 / -1;
        }

        &__grid-item {
            margin: 0;
        }

        &__frame {
            max-width: inherit;
        }
    }
}

.videos__description {
    display: block;
    position: fixed;
    top: 2vh;
    left: 50vw;
    margin-left: -280px;
    width: 550px;
    z-index: 500;
}

.pop-up {
    display: none;
    padding: 10px 40px 18px;
    background-color: $white;
    line-height: 30px;
    border: 1px solid $light-grey;

    &__title {
        margin-top: 50px;
    }

    &__button {
        display: block;
        @include order-button;
    }

    &__title {
        color: $dark-red;
        font-size: 20px;
        font-weight: normal;
        text-align: center;
        line-height: 30px;
    }

    &__annotation {
        margin: 0 0 20px;
        font-size: 16px;
        line-height: 30px;

        &-title {
            display: inline-block;
            margin-top: 20px;
            text-transform: uppercase;
        }
    }

    &__close {
        position: absolute;
        top: 10px;
        right: 10px;
        padding-right: 50px;
        color: $light-blue;
        font-family: $roboto-condensed;
        text-transform: uppercase;
        // border: 1px solid;

        &::before {
            position: absolute;
            top: 15px;
            left: 84px;
            width: 25px;
            content: '';
            border-bottom: 1px solid $light-blue;
            transition: .3s transform ease-in;
        }

        &::after {
            position: absolute;
            top: 3px;
            left: 96px;
            height: 25px;
            content: '';
            border-left: 1px solid $dark-red;
            transition: .3s transform ease-in;
        }

        &:hover {
            &::before {
                transform: rotate(50deg);
            }

            &::after {
                transform: rotate(-140deg)
            }
        }
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: $light-grey-transparent;
    z-index: 400;
}

.visible {
    display: block;
}

/* _______ Breadcrumbs ______ */

.breadcrumbs {
    position: relative;
    margin: 50px auto;
    width: $wrapper;
    color: $dark-blue;
    font-family: $roboto;
    font-family: $roboto-condensed;
    font-size: 20px;
    line-height: 30px;

    &::after {
        display: block;
        position: relative;
        width: 100%;
        margin-top: 30px;
        height: 7px;
        background-color: $rose-header;
        content: '';
        border-radius: 3px;
    }

    &__parent::after,
    &__current::after {
        display: inline-block;
        margin: 0 10px 0 15px;
        content: '>';
    }

    &__current {
        text-transform: uppercase;
    }

    &__next::before {
        margin-right: 10px;
        content: '[\00a0далі\00a0]';
        color: $grey;
    }

    &__next_stand-along {
        display: block;
        margin-top: 20px;
    }

    &__anchor {
        padding-bottom: 5px;
        color: $rose-header;
        font-family: $roboto-condensed;

        &:hover {
            border-bottom: 1px solid;
        }

        &_bold {
            font-weight: 600;
        }
    }
}

/* Static pages styles */
.article {
    padding-top: 40px;
    min-height: calc(100vh - 400px);
    font-size: 18px;
    line-height: 30px;

    &__wrapper {
        margin-bottom: 60px;
        padding-bottom: 45px;
        border-bottom: 1px solid $rose-header;
    }

    &__heading {
        margin-top: 40px;
        @include rubric-heading;
        font-weight: normal;
        line-height: 40px;

        &_plain {
            margin-top: 20px;
            font-weight: normal;
        }
    }

    &__lead-text {
        margin-top: 40px;
        color: $dark-red;
        font-size: 22px;
        font-weight: normal;
    }

    &__text {
        &_emphasized {
            color: $pink;
            text-align: center;
        }

        &_italic {
            font-style: italic;
        }

        &_letter-spaced {
            letter-spacing: 3px;
        }
    }

    &__paragraph {
        margin-top: 20px;

        &_last {
            position: relative;

            &::after {
                position: relative;
                top: 30px;
                display: block;
                content: '[ ... ]';
                color: $carrot;
                font-size: 28px;
                text-align: center;
            }
        }

        &_right {
            text-align: right;
        }
    }

    &__list_ledger {
        font-family: $ledger;
    }

    &__list_ordered {
        list-style-type: decimal;
    }

    &__list-item {
        margin: 15px;
        padding-left: 50px;
        background-size: 25px;
        background-repeat: no-repeat;
        background-position: 5px 7px;

        &_plain {
            margin: 5px 0 0 50px;
        }

        &_indented {
            margin-left: 50px;
        }

        &_globe {
            background-image: url('../img/icons/earth-globe.svg');
        }

        &_creativity {
            background-image: url('../img/icons/paint-palette1.svg');
        }

        &_information {
            background-image: url('../img/icons/pc-share.svg');
        }

        &_health {
            background-image: url('../img/icons/dancer-outline.svg');
            background-size: 35px;
            background-position: 0 7px;
        }

        &_thinking {
            background-image: url('../img/icons/thinking.svg');
            background-position: 10px 7px;
        }

        &_checklist::before {
            display: inline-block;
            width: 30px;
            height: 30px;
            content: '\2713';
            color: $green-mint;
        }

        &_disk::before {
            display: inline-block;
            margin-right: 20px;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            content: '';
            background-color: $pink;
        }

        &_audio,
        &_video,
        &_photo,
        &_media,
        &_text {
            position: relative;
        }

        &_audio::before,
        &_video::before,
        &_photo::before,
        &_media::before,
        &_text::before {
            position: absolute;
            display: inline-block;
            @include icon-on-pink-background;
            content: '';
            left: -10px;
        }

        &_audio::before {
            background-position: 49% 45%;
            @include feed__item-heading('headphones.svg', 65);
        }

        &_video::before {
            background-position: 49% 49%;
            @include feed__item-heading('play-button.svg', 75);
        }

        &_photo::before {
            background-position: 49% 49%;
            @include feed__item-heading('photo-camera.svg', 75);
        }

        &_media::before {
            background-position: 49% 50%;
            @include feed__item-heading('folded-newspaper.svg', 70);
        }

        &_plain {
            padding-left: 0;
        }

    } /* end of .article__list */

    &__anchor {
        color: $rose-header;
        padding-bottom: 5px;

        &_serif {
            font-family: $ledger;
        }

        &_light-blue {
            color: $light-blue;
        }

        &:hover {
            border-bottom: 1px solid;
        }
    }

    &__aside {
        margin: 60px 0;
    }

    &__date {
        font-family: $roboto-condensed;
        font-size: 16px;
    }

    &__illustration {
        @include flex;
        @include flexdirection-column;
        @include align-items-center;
        margin: 20px;

        &_left {
            margin-left: 0;
            float: left;
        }

        &_right {
            margin-right: 0;
            float: right;
        }
    }

    &__img {
        min-width: 150px;
    }

    &__figcaption {
        margin-top: 20px;
        font-family: $roboto-condensed;
        font-size: 18px;
        color: $light-blue;
    }
}

/* _______ Aphorisms _______ */
.aphorisms {

    &__item {
        @include flex;
        margin-top: 20px;
    }

    &__number {
        display: inline-block;
        @include flex-props(0, 0, 45px);
        margin-right: 10px;
        color: $pink;
        text-align: right;
    }
}

/* ______ Gallery ______ */
.gallery {
    @include flex;
    @include flex-wrap;
    @include justify-content-space-around;
    margin-top: 30px;

    &__item {
        @include flex-basis(30%);
        margin: 0 10px 50px;
        border-radius: 5px;
        border: 1px solid;
        border-color: transparent;
        cursor: pointer;
        transition: border-color .5s;

        &:hover {
            border-color: $simple-grey;
        }
    }

    &__image {
        // if no flexbox support, just center image
        display: block;
        margin: 0 auto 10px;
        width: 100%;
    }

    &__caption {
        position: relative;
        padding: 0 5px;
        font-family: $ledger;
        text-align: center;

        &::after {
            display: block;
            position: relative;
            left: 50%;
            margin-top: 10px;
            margin-bottom: 10px;
            margin-left: -40px;
            width: 60px;
            height: 26px;
            content: '';
            background: url(../img/tree.svg) no-repeat;
            background-size: 500px;
            background-position: -247px -132px;
        }

        &_digital::after {
            background-position: -247px -76px
        }

        &_watercolor::after {
            left: 55%;
            width: 33px;
            height: 30px;
            background-position: -309px -46px;
        }
    }
}

@supports (display: grid) {
    .gallery {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-flow: dense;
        grid-column-gap: 20px;
        justify-content: center;

        &__item {
            @include flex;
            @include flexdirection-column;
        }

        &__item_landscape {
            grid-column-end: span 2;
        }
    }
}

/* _________ Events __________ */
.event {
    position: relative;
    margin-bottom: 90px;

    &::before {
        display: inline-block;
        position: absolute;
        top: 45px;
        left: 0;
        width: 20px;
        height: 20px;
        content: '';
    }

    &::after {
        display: inline-block;
        position: absolute;
        top: 53px;
        left: 7px;
        width: 17px;
        height: 17px;
        content: '';
        border-radius: 50%;
    }

    &_announcement {
        &::before {
            background-color: $rose-header;
        }

        &::after {
            background-color: $light-blue;
        }
    }

    &_report {
        &::before {
            background-color: $light-blue;
        }

        &::after {
            background-color: $rose-header;
        }
    }

    &__heading {
        position: relative;
        margin-left: 40px;
        font-family: $ledger;
        font-size: 25px;
        font-weight: normal;
        line-height: 40px;

        &::after {
            margin-left: 10px;
            font-size: 20px;
            color: $grey;
        }

        &_announcement {
            &::after {
                content: '/\00a0Анонс\00a0/';
            }
        }

        &_report {
            &::after {
                content: '/\00a0Звіт про подію\00a0/';
            }
        }
    }

    &__date {
        display: inline-block;
        margin: 20px 0 10px;
        color: $light-pink;
        font-weight: bold;
    }

    &__icon {
        display: inline-block;
        position: relative;
        top: 8px;
        left: 10px;
        margin-right: 20px;
        @include icon-on-pink-background;

        &_video {
            @include feed__item-heading('play-button.svg', 80);
        }

        &_audio {
            @include feed__item-heading('headphones.svg', 60);
        }

        &_photo {
            @include feed__item-heading('photo-camera.svg', 75);
        }
    }

    &__video {
        margin: 40px 0;
    }
}

@supports (display: flow-root) {
    .event {
        display: flow-root;
        margin-bottom: 0;
    }
}
